@layer utilities {
  .question-container.active {
    @apply text-white bg-gray-500 rounded-t-xl mt-2 hover:bg-none;
  }
  .arrow.active {
    @apply text-white rotate-180;
  }
  .wrapper-blocks {
    @apply border-b-[1px] border-gray-500
    overflow-hidden;
  }
  .answer-list {
    @apply py-0 italic pl-4 list-disc text-xs 2xsm:text-sm sm:text-base 
    lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  .question-container {
    @apply w-full text-left px-2.5 py-2.5 flex items-center justify-between
    font-medium cursor-pointer bg-transparent border-0 
    hover:bg-gradient-to-b from-primaryLight/20 via-primaryLight to-primaryLight/20
    text-xs 2xsm:text-sm sm:text-base lg:text-lg xl:text-xl 2xl:text-2xl;
  }
  .answer-container {
    @apply px-2 py-0 transition-all ease-in-out duration-700;
  }
  .answer-content {
    @apply px-0 py-2 italic text-xs 2xsm:text-sm sm:text-base lg:text-lg 
    xl:text-xl 2xl:text-2xl;
  }
  .arrow {
    @apply transition-all ease-in-out duration-500 text-2xl;
  }
}

/* .wrapper-blocks {
  border-bottom: 1px solid black;
  overflow: hidden;
} */

/* .wrapper-blocks .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 0.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
} */

/* .question-container.active {
  color: #1db954;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
} */

/* .wrappe-blocks .question-container:hover {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.9),
    transparent
  );
} */

/* .wrapper-blocks .arrow {
  font-size: 2rem;
  transition: 0.5s ease-in-out;
} */

/* .arrow.active {
  rotate: 180deg;
  color: #1db954;
} */

/* .wrapper-blocks .answer-container {
  padding: 0 1rem;
  transition: height 0.7s ease-in-out;
} */

/* .wrapper-blocks .answer-content {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-style: italic;
} */

/* .wrapper-blocks .answer-list {
  padding: 0;
  font-size: 20px;
  font-style: italic;
  list-style: square;
} */
