@layer utilities {
  .question-container.active {
    @apply text-white bg-gray-500 rounded-t-xl mt-2;
  }
  .arrow.active {
    @apply text-white rotate-180;
  }
  .wrapper-blocks {
    @apply border-b-[1px] border-gray-500
    overflow-hidden;
  }
  .answer-list {
    @apply py-0 text-xl italic pl-4 list-disc;
  }
}

/* .wrapper-blocks {
  border-bottom: 1px solid black;
  overflow: hidden;
} */

.wrapper-blocks .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* .question-container.active {
  color: #1db954;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.04),
    transparent
  );
} */

.wrappe-blocks .question-container:hover {
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.09),
    transparent
  );
}

.wrapper-blocks .arrow {
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}

/* .arrow.active {
  rotate: 180deg;
  color: #1db954;
} */

.wrapper-blocks .answer-container {
  padding: 0 1rem;
  transition: height 0.7s ease-in-out;
}

.wrapper-blocks .answer-content {
  padding: 1rem 0;
  font-size: 20px;
  font-style: italic;
}

/* .wrapper-blocks .answer-list {
  padding: 0;
  font-size: 20px;
  font-style: italic;
  list-style: square;
} */
