.wrapper {
  /* border-radius: 1rem; */
  border-width: 5px;
}

[class*="ground-pane"] {
  filter: grayscale(1) !important;
}

[class*="copyright_logo_no"] {
  display: none !important;
}

[class*="copyright"] {
  filter: grayscale(1) !important;
}

[class*="gototech"] {
  display: none !important;
}

.driver-card {
  width: 90%;
  height: auto;
}
/* имейте ввиду, что больше 400px будет показано с прокруткой */

[class*="balloon"] {
  box-shadow: none !important;
  border-radius: 1rem;
}

[class*="balloon__content"] {
  background: #ffd10f !important;
  margin: 0 !important;
}

[class*="balloon__layout"] {
  background: #ffd10f !important;
  border: none !important;
}

.balloon-header {
  width: auto;
  font-weight: bold;
  text-decoration: underline;
}
