@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import "./components/accordion/Accordion.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Roboto Flex", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}
@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[200px] transition-all duration-300 rounded-full
		group-hover:border group-hover:border-gray-500 px-3 py-1 
    focus:outline-none bg-gray-200 dark:border-gray-800 dark:bg-gray-900
		group-hover:bg-white group-hover:dark:bg-gray-800;
  }
  .search-bar-burger {
    @apply w-[80%] transition-all duration-300 rounded-full border border-gray-500
		group-hover:border group-hover:border-red-500 px-3 py-1 
    focus:outline-none bg-white dark:border-gray-800 dark:bg-gray-900
		group-hover:bg-white group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-gradient-to-l from-gray-400 to-gray-200 
		dark:from-gray-900 dark:to-gray-600 dark:text-white;
  }
  .form-input {
    @apply w-full border border-gray-300 dark:border-gray-600
    dark:bg-gray-800 dark:text-white px-3 py-2 mb-4 rounded-full
    /* focus:outline-none; */;
  }
  /* .header a:hover,
  .header a:active,
  .header a.active {
    @apply text-red-600;
  } */
  .menu-item:not(.active):hover {
    @apply text-primary dark:text-primaryLight hover:scale-125;
  }
  .menu-dropdown-item:not(.active):hover {
    @apply bg-primaryLight text-brandDarkGray 
    dark:hover:bg-primaryLight hover:scale-105 
    dark:hover:text-brandDarkGray;
  }
  .menu-item-burger:not(.active):hover {
    @apply text-primaryLight dark:text-primary hover:bg-gray-500 rounded-xl;
  }
  .active {
    @apply text-primaryDark;
  }

  .inside-card {
    @apply h-[380px] md:h-[450px] 2xl:h-[500px] text-center;
  }
  /* ======================== check box ============================= */

  /* Customize the label (the container) */

  .check-container {
    @apply block relative pl-[35px] mb-[12px] cursor-pointer text-lg select-none;
  }

  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    @apply absolute top-0 left-0 h-[25px] w-[25px] bg-gray-200 rounded-md 
    border-2 border-gray-300;
  }
  .checkmark:hover {
    @apply border-gray-400;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    @apply bg-gray-200 rounded-md;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    @apply bg-primary rounded-md ring-4 ring-yellow-500;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    @apply content-[''] absolute hidden;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    @apply block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* ===================== Tooltip in Navbar ===================== */

.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltiptext {
  @apply invisible text-xl italic font-semibold
  w-[150px] bg-brandDarkGray dark:bg-primary text-white 
  dark:text-brandDarkGray text-center rounded-lg p-[7px] absolute z-10 
  top-[150%] left-[30%] ml-[-60px];
}

.tooltip .tooltiptext::after {
  @apply content-[''] absolute bottom-[80%] left-[50%] ml-[-5px] border-8
  border-solid border-brandDarkGray dark:border-primary rotate-45;
}

.tooltip:hover .tooltiptext {
  @apply visible;
}
