@import "./components/accordion/Accordion.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-bar {
    @apply w-0 group-hover:w-[200px] transition-all duration-300 rounded-full
		group-hover:border group-hover:border-gray-500 px-3 py-1 
    focus:outline-none bg-gray-200 dark:border-gray-800 dark:bg-gray-900
		group-hover:bg-white group-hover:dark:bg-gray-800;
  }
  .search-bar-burger {
    @apply w-[80%] transition-all duration-300 rounded-full border border-gray-500
		group-hover:border group-hover:border-red-500 px-3 py-1 
    focus:outline-none bg-white dark:border-gray-800 dark:bg-gray-900
		group-hover:bg-white group-hover:dark:bg-gray-800;
  }
}

@layer utilities {
  .hero-bg-color {
    @apply bg-gradient-to-l from-gray-400 to-gray-100 
		dark:from-gray-900 dark:to-gray-800 dark:text-white;
  }
  .form-input {
    @apply w-full border border-gray-300 dark:border-gray-600
    dark:bg-gray-800 dark:text-white px-3 py-2 mb-4 rounded-full
    /* focus:outline-none; */;
  }
  /* .header a:hover,
  .header a:active,
  .header a.active {
    @apply text-red-600;
  } */
  .menu-item:not(.active):hover {
    @apply text-primary dark:text-primaryLight hover:scale-125;
  }
  .menu-dropdown-item:not(.active):hover {
    @apply bg-primaryLight text-brandDarkGray 
    dark:hover:bg-primaryLight hover:scale-105 
    dark:hover:text-brandDarkGray;
  }
  .menu-item-burger:not(.active):hover {
    @apply text-primaryLight dark:text-primary hover:bg-gray-500 rounded-xl;
  }
  .active {
    @apply text-primaryDark;
  }
}
